<!DOCTYPE html>
<html>
  <head>
    <title>Calender</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_erb' %> 
<link href="https://fonts.googleapis.com/css?family=Bilbo|Patrick+Hand|Amatic+SC" rel="stylesheet">  
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
